@font-face {
   font-family: 'Pokemon Solid Normal';
   font-style: normal;
   font-weight: normal;
   src: local('Pokemon Solid Normal'), url('/Font/Pokemon\ Solid.woff') format('woff');
   }

body {
   font-family: 'Pokemon Solid Normal';
   background-image: url(/IMG/pokeBG.png); 
   text-transform: capitalize;
}
.container#container2 {
margin-top: 150px;
}
